* {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

nav {
    background-color:rgb(17, 20, 43);
    height: 10vh;
    color: rgb(230, 235, 233);
    border: 5px dotted rgb(230, 235, 233);
    z-index: 999;
}


li a:hover {
    font-size: larger;
    text-shadow: 3px 3px 3px rgb(133, 178, 202);
    transition: 0.4s;
}

header {
    min-height: 100vh;
    min-width: 100vh;
    margin-top: 10vh;
    background-image: url(./media/filmpic.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content:right;
    align-items: center;
}

.titolo {
    font-size: 70px;
    font-weight: bolder;
    letter-spacing: 4.5px;
    color: rgb(17, 20, 43);
    text-shadow: 3px 3px 3px rgb(230, 235, 233);
    padding-right: 470px;
    padding-bottom: 115px;
    animation: anima-testo 3s;
}

h2 {
    text-align: center;
    text-shadow: 3px 3px 3px rgb(230, 235, 233)
}

.img {
    height: 220px;
    width: 150px;
    padding-top: 0px;
}

img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}


.genere {
    font-weight: lighter;
}


.lavoraconnoi {
    background-color: rgb(17, 20, 43);
    color: rgb(146, 188, 205);
    border: 6px dotted rgb(146, 188, 205);
    animation-name: flashing;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

body {
    background-color: rgb(146, 188, 205);
}

#collaborazione {
    text-shadow: none;
    font-size: 40px ;
}

footer {
    background-color: rgb(12, 14, 29);
    color: rgb(146, 188, 205);
    margin-top: 20px;
}

.icone {
    display: flex;
    flex-direction: row;
    justify-content: end;
}


@keyframes flashing {
    0%{border: 8px dotted rgb(17, 20, 43)}
    100%{border: 8px dotted rgb(233, 213, 2)}
}

@keyframes anima-testo {
    0%{
        transform: translateX(2000px);
        scale: 0;
    }
}

@media screen and (max-width:600px){
    nav {
        max-width: 100%;
        height: 12vh;
    }

    .navbar-collapse {
        background-color: rgb(17, 20, 43);
    }

    header {
        min-height: 50vh;
        min-width: 50vh; 
    }

    .titolo {
        font-size: 40px;
        font-weight: bolder;
        letter-spacing: 2px;
        padding-right: 38px;
        padding-bottom: 40px;
    }


    .list-footer, .icone {
        justify-content: start !important;
    }
 
}